@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700&display=swap');

$font-family-header: 'Lato', sans-serif;

// Override Bootstrap variables
$font-family-base: 'Lato', sans-serif;
$border-color: #212529;

@import "public/theme/style";

//custom css
.course-block-three:hover {
  .inner-box {
    border-color: #43b97e;
  }
}
.map-sticky {
  position: sticky;
  top: 20px;
  z-index: 98;
  margin-bottom: 30px;
}
.overflow-auto {
  overflow: inherit;
}
